* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Nunito Sans";
    color: #ffffff;
}
.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.header {
    background-color: #2B3844;
    width: 100%;
}
.navigation {
    display: flex;
    padding-top: 23px;
    padding-bottom: 24px;
    justify-content: space-between;
    background-color: #2B3844;
}
.header__list__item__link::before {
    content: url("./images/Path.svg");
}
@media only screen and (max-width: 514px) {
    .header {
        background-color: #2B3844;
        width: 100%;
    }
    .navigation {
        display: flex;
        padding-top: 23px;
        padding-bottom: 24px;
        justify-content: space-between;
        background-color: #2B3844;
    }
    .header__list__item__link::before {
        content: url("./images/Path.svg");
    }
    .header__logo {
        width: 197px;
        height: 20px;
    }
}
main {
    background-color: #202C36;
}
.section__1 {
    padding-top: 80px;
    padding-bottom: 80px;
}
.section__1__btn__link {
    background-color: #2B3844;
}
.section__1__btn {
    background-color: #2B3844;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    width: 136px;
    height: 40px;
}
.section__1__btn::before {
    content: url("./images/call-made.svg");
}
.section__2__wrapper {
    display: flex;
    justify-content: space-between;
}
.txt {
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.text__wrapper {
    display: flex;
    flex-direction: column;
    max-height: 160px;
    flex-wrap: wrap;
    
}
.country__info {
    color: #ffffff;
font-size: 16px;
font-weight: 300;
line-height: 32px;
padding-right: 100px;
}
.other {
    background-color: #2B3844;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    width: 136px;
    height: 40px;
}
@media only screen and (max-width: 514px) {
    .section__2__wrapper {
        flex-wrap: wrap;
    }
    .text__wrapper {
        max-height: 600px;
    }
    .other {
        width: 96px;
        height: 28px;
    }
    .others__wrapper {
        max-width: 308px;
    }
}